
.header {
    height: 320px;
    display: flex;
    flex-direction: row;
    flex:  0 500px;
    padding: 1px 1px 1px 1px;
    width: 100%;
}


img {
    display: flex;
    position: absolute;
    height: 300px;
    width: 390px;
    border: 10px solid rgba(124, 129, 129, 0.938);
    border-radius: 80%;
    
} 


.backImage:hover {
    opacity : 0;
    cursor: pointer;
    transition: opacity 1s ease-in;

}


.header p {
    list-style-type: none;
   
}


.header p ul li {
    list-style-type: none;
    text-decoration: none;
}
