
.header {
    height: 320px;
    display: flex;
    flex-direction: row;
    
    padding: 1px 1px 1px 1px;
    width: 100%;
}

img {

    position: absolute;
    height: 300px;
    width: 26%;
    border: 10px solid rgba(124, 129, 129, 0.938);
    border-radius: 80%;
    
} 


.backImage:hover {
    opacity : 0;
    cursor: pointer;
    transition: opacity 1s ease-in;
    
}


.textBox {
    display: flex;
    flex-grow: 1;
    margin-left: 420px;
   



}

.textBox p {
    list-style-type: none;
    justify-content: center;
    flex-basis: 80%;
    font-size: 20px;
    
}


.textBox ul {
    list-style-type: none;
    text-decoration: none;
    flex-basis: 20%;
    font-size: 20px;
}
